

.navbar {
display: flex;
justify-content: space-between;
padding: 20px;
background-color: #222;
color:whitesmoke;}

.product-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
padding: 90px}

.card img {
height: 150px;
object-fit: cover}

.card {
padding: 30px;
border: 4px solid rgb(18, 1, 17);
text-align: center;}